/*---------------font-------------*/

body {
    
    font-family: 'Galindo', cursive;
    background: url("../assets/images/stipes1.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}



/*---------------navbar-------------*/

.navbar {
    margin: 0;
    padding: 0;
    background: url("../assets/images/stripes1.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
    color: #119264;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.navbar-brand:hover {
    color:#d82389;
}

.nav-link {
    background-color: #52525200;
    color: #d82389;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.nav-link:hover {
    color: #119264;
}

.social-media {
    padding-top: 15px;
}

.social-media i {
    color: #d82389;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.social-media i:hover {
    color: #119264;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    
    color: #3fe398;
}

/*---------------callout container-------------*/

.callout-container {
    height: 98vh;
    width: 100%;
    
    background: url("../assets/images/monks.jpg") no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


.btn {
    color: #fafafa;
    background-color: #d82389;
}

.btn:hover {
    background-color: #119264;
}

.modal-btn {
    background-color: #d82389;
}

.jumbotron {
    margin-bottom: 30px;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.5);
}

/*---------------footer-------------*/

footer {
    margin: 0;
    text-align: center;
    
    background: url("../assets/images/stipes1.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    text-size: 30px;
}

.info {
    text-size: 20px;
}

/*---------------general-------------*/

.background-container {
    margin: 0;
    
    background: url("../assets/images/stripes1.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    z-index: 1;
    
}
.callout{
    z-index: 2;
}
.bio-container {
    height: 100vh;
    background: url("../assets/images/tv1.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    color: #fafafa;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.contact-container {
    margin: 0;
    background: url("../assets/images/stripes1.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}










