/*---------------font-------------*/

body {

    font-family: 'Galindo', cursive;
    background: url("assets/images/red.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}







/*---------------media queries-------------*/


@media (min-width:768px) {
  div.heading {
    font-size: 40px;
  }
}

@media (max-width:768px) {
  div.heading {
    font-size: 30px;
  }
}

@media (min-width:768px) {
  div.text {
    font-size: 20px;
  }
}

@media (max-width:768px) {
  div.text {
    font-size: 15px;
  }
}


@media (min-width:768px) {
  div.callout-container {
    width: 100%;
  }
}

@media (max-width:768px) {
  div.callout-container {
     background: url("assets/images/guitar.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 94.5vh;
    width: auto;
    
    overflow: hidden;
    

    align-items: center;
    justify-content: center;
    
  }
}



/*---------------navbar-------------*/


.navbar {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 0;
    padding-top: 0;
    background: url("assets/images/red.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
    color: #119264;
    font-size: 25px;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.navbar-brand:hover {
    color: #d82389;
}

.nav-link {
    background-color: #52525200;
    color: #d82389;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.nav-link:hover {
    color: #119264;
}

.social-media {
    padding-top: 30px;
}

.social-media i {
    text-align: center;
    width: 50px;
    height: 50px;
   font-size: 30px;
    color: #20b978;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.social-media i:hover {
    color: #119264;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;

    color: #3fe398;
}

/*---------------callout container-------------*/

.callout-container {
    height: 100vh;
    background: url("assets/images/monkees.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    margin: 0;
    padding: 0;
}




.btn {
    color: #fafafa;
    background-color: #20b978;
}

.btn:hover {
    background-color: #119264;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.modal-btn {
    background-color: #20b978;
}

.nav-btn {
    background-color: transparent;
    color: #20b978;
}

.nav-btn:hover {
    color: #119264;
    background-color: transparent;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.jumbotron {

    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.5);
}


img.rounded {
    height: 275px;
    width: 400px;
}


img.rounded-circle {
    height: 250px;
    width: 300px;
}


img.pg {
    height: 300px;
    width: 400px;
    padding: 10px;
}



/*---------------footer-------------*/

footer {
    margin: 0;
    text-align: center;

    background: url("assets/images/red.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    font-size: 30px;
}

.info {
    font-size: 20px;
}

/*---------------general-------------*/

.ad {
    padding-top: 40px;
}

.red-divider {
    width: 200px;
    height: 3px;
    border: 0;
    background-color: rgb(159, 8, 25);
}

.block-divider {
    width: 200px;
    height: 3px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.46);
}



.pgh {
    padding-bottom: 20px;
  
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1;

}

.callout {
    z-index: 2;
}

.bio-container {
    height: 100vh;
    background: url("assets/images/tv1.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}



.jumbo-container {
    padding-top: 40px;
}


.contact-container {
    margin: 0;
    background: url("assets/images/red.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.audio-container {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0;
    background: url("assets/images/red.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.video-container {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0;
    background: url("assets/images/red.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.background-container {
    margin: 0;
    background: url("assets/images/red.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tour-container {
    height: 100vh;
    background: url("assets/images/tour.jpg") repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}



.guys {
    padding-left: 20px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: black;
}

.timeline {
    padding-top: 20px;
}












