/*---------------font-------------*/

body {

    font-family: 'Galindo', cursive;
    color: #fafafa;
    background: url(/assets/images/red.jpg) repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

}


/** {*/
/*  background: #000 !important;*/
/*  color: #0f0 !important;*/
/*  outline: solid #f00 1px !important;*/
/*}*/



/*---------------media queries-------------*/

@media (min-width: 375px) {
    div.guys {
        margin: 0;
    }
}

@media only screen (min-width: 375px) {
    img.my-rounded-circle {
        height: 175px;
        width: 180px;
    }
}

 @media (min-width: 360px) {
     div.pg-carousel {
    height: 70vh;
    width: 83vw;
     }
 }



@media (min-width: 320px) {
    div.pg-carousel {
    height: 70vh;
    width: 81vw;
}
}


@media (min-width: 375px) {
    div.pg-carousel {
    height: 70vh;
    width: 84vw;
}
}

@media (min-width: 411px) {
    div.pg-carousel {
    height: 70vh;
    width: 85.4vw;
}
}

@media (min-width: 768px) {
    div.pg-carousel {
    height: 70vh;
    width: 92.2vw;
}
}

@media (min-width: 1024px) {
    div.pg-carousel {
    height: 50vh;
    width: 94.1vw;
}
}

@media (min-width: 375px) {
    div.bio-heading {
        font-size: 2rem;
    }
}

@media (min-width: 375px) {
    div.bio-text {
        font-size: 1rem;
    }
}

@media (min-width:768px) {
  div.callout-container {
    width: 100%;
  }
}

@media (max-width:768px) {
  div.callout-container {
     height: 60vh;
    
  }
}


@media (max-width:1040px) {
  div.callout-container {
     background: url("/assets/images/vert.jpg") no-repeat top center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    
    overflow: hidden;

    align-items: center;
    justify-content: center;
    
  }
}

@media (min-width: 320px) {
    audio.my-audio {
    height: 40px;
    width: 250px;
}
}

@media (min-width: 768px) {
    audio.my-audio {
    height: 54px;
    width: 300px;
}
}

@media (min-width: 320px) {
    div.my-timeline {
    padding-left: 40px;
    padding-top: 20px;
}
}

@media (max-width: 1040px) {
    div.guys {
        margin-left: 35px;
    }
}

@media (min-width: 360px) {
    div.bio-text {
        font-size: 14px;
    }
}


@media (min-width: 360px) {
    div.bio-heading {
        font-size: 30px;
    }
}

@media (min-width: 1040px) {
    div.bio-heading {
        font-size: 30px;
    }
}

@media (min-width: 1040px) {
    div.bio-text {
        font-size: 20px;
    }
}


@media (max-width: 360px) {
    div.img.my-rounded-circle {
    height: 150px;
    width: 200px;
}
}


@media (max-width: 360px) {
    div.callout-container {
        height: 70vh;
    }
}


/*---------------navbar-------------*/


.my-navbar {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 0;
    background: url(/assets/images/red.jpg) repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    
    color: #fafafa;
}

.my-navbar-nav {
    padding-left: 30px;
    color: #fafafa;
}



.my-nav-link {
    color: #fafafa;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.social-media {
    padding-top: 30px;
}

.social-media i {
    text-align: center;
    width: 50px;
    height: 50px;
   font-size: 30px;
    color: #20b978;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.social-media i:hover {
    color: #119264;
}

.my-navbar-toggler {
    display: contents;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;

    color: #fafafa;
    margin-right: 30px;
}

.my-navbar-toggler-icon {
    color: #fafafa;
    
}


/*---------------callout container-------------*/

.callout-container {
    height: 100vh;
   
    background: url("/assets/images/monkees.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;

    position: inherit;

    margin: 0;
    padding: 0;
}




.my-btn {
    color: #fafafa;
    background-color: #20b978;
}

.my-btn:hover {
    background-color: #119264;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}



.nav-btn {
    background-color: transparent;
    color: #20b978;
}

.nav-btn:hover {
    color: #119264;
    background-color: transparent;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
}

.my-jumbotron {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.5);
}


img.my-rounded {
    height: 275px;
    width: 400px;
    margin-bottom: 20px;
}



img.my-rounded-circle {
    height: 250px;
    width: 300px;

}

img.pg {
    height: 300px;
    width: 400px;
    margin-top: 100px;
}

.tour-pics {
    margin-top: 50px;
}


.pg-carousel {
    height: 70vh;
    width: 95vw;
    text-align: center;
    
}


/*---------------footer-------------*/





.mtg-heading {
    margin-left: 40px;
}


.title {
    font-size: 25px;
}

.text {
    font-size: 16px;
}

.heading {
    font-size: 30px;
}

.my-media-body {
    margin-top: 45px;
}
/*---------------general-------------*/


.row, 
.container {
    margin: 0;
    padding: 0;
}

.ad {
    padding-top: 40px;
}

.red-divider {
    width: 200px;
    height: 3px;
    border: 0;
    background-color: rgb(159, 8, 25);
}

.my-block-divider {
    width: 200px;
    height: 3px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.46);
}


.block-divider-timeline {
    background-color: transparent;
}


.guys {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 0;
    margin-top: 0;
}

.my-media-body {
    margin: 0;
    margin-bottom: 100px;
}

.pgh {
    padding-bottom: 10px;
    padding-top: 40px;
}



.my-audio {
    height: 54px;
    width: 300px;
}



.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1;

}

.my-callout {
    z-index: 2;
}

.bio-container {
    height: 100vh;
    background: url("/assets/images/tv1.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;`
}



.jumbo-container {
    padding-top: 40px;
}


.audio-container {
    padding-top: 20px;
    padding-bottom: 30px;

    
}

.video-container {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 5px;
}


.tour-container {
    height: 90vh;
    background: url("/assets/images/tour.jpg") repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
}


.my-timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.my-timeline-item p {
    padding: 0;
    margin: 0;
}

.my-timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.my-timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: black;
}

.my-timeline {
    padding-left: 70px;
    padding-top: 60px;
}


.my-modal {
    color: black;
}









