


/*---------------BACKGROUND CONTAINERS-------------*/


body {
    /*--- gives a font style to the entire webpage ---*/
    font-family: 'Overpass', sans-serif;
        /*--- color of text white ---*/
    color: #fafafa;
    /*--- sets background image for the entire body. it is set to repeat, so the image doesnt stretch, and the image will be centered horizontally and vertically. the background will also not scroll, but remained positioned---*/
    background: url(../images/red.jpg) repeat center center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

}

.callout-container {
    /*--- sets background image for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
        background: url("assets/images/vert.jpg")no-repeat top center fixed;
        /*--- adjusts background for different browsers ---*/
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;

            /*--- makes the background fit to the container ---*/
        overflow: hidden;
        
            /*--- aligns and justifies text in container ---*/
        align-items: center;
        justify-content: center;
        /*--- the height that container will take up in the viewport ---*/
        height: 60vh;
}

.bio-container {
    height: 100vh;
    /*--- sets background image for Bio container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url("assets/images/tv1.jpg") no-repeat top center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

        /*--- text color white ---*/
    color: #fafafa;
        
        /*--- text properties to make the text fit to container, align text, and justifies content to distribute free space ---*/
    display: flex;
    align-items: center;
    justify-content: center;

        /*--- positioned relative to its normal position ---*/
    position: relative;`
}

.tour-container {
    /*--- height the container takes up in the viewport ---*/
    height: 100vh;
    /*--- sets background image for Tour container. it is set to repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
    background: url("assets/images/tour.jpg") repeat top center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
        /*--- color of text white ---*/
    color: #fafafa;
    
    /*--- text properties to make the text fit to container, align text, and justifies content to distribute free space ---*/
    display: flex;
    align-items: center;
    justify-content: center;
    
        /*--- positioned relative to its normal position ---*/
    position: relative;
    
}



/*---------------NAVBAR-------------*/


.my-navbar {
    font-family: 'Permanent Marker', cursive;
    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 0;
    /*--- sets background image for the NavBar. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and centered vertically. the background will also not scroll, but remained positioned so things will scroll behind it---*/
    background: url(assets/images/red.jpg) repeat center center fixed;
    /*--- adjusts background for different browsers ---*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    
    /*--- color of text white ---*/
    color: #fafafa;
}

.my-navbar-nav {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 30px;
    /*--- color of text white ---*/
    color: #fafafa;
}



.my-nav-link {
    /*--- color of text white ---*/
    color: #fafafa;
    /*--- color change transition when hovering over my-nav-link ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}


.my-navbar-toggler {
    /*--- display to fill contents ---*/
    display: contents;
    width: 2em;
    height: 2em;
    /*--- aligns to fit toggler container ---*/
    vertical-align: middle;
    /*--- content aligned according to parent element ---*/
    content: "";
    /*--- toggler doesn't repeat and it center to container ---*/
    background: no-repeat center center;
    /*--- toggler 100% of toggler container ---*/
    background-size: 100% 100%;

    /*--- color of text white ---*/
    color: #fafafa;
    /*--- removes margins automatically set by bootstrap ---*/
    margin-right: 30px;
}

.my-navbar-toggler-icon {
    /*--- color of icon white ---*/
    color: #fafafa;
    
}

.my-navbar-brand {
    font-family: 'Permanent Marker', cursive;
}

/*---------------IMAGES-------------*/

.my-rounded-circle {
        height: 175px;
        width: 180px;
    }

.opaque-overlay {
    /*---positioned relative to the nearest positioned ancestor---*/
    position: absolute;
    top: 0;
    left: 0;
    /*--- size of overlay is 100% of container ---*/
    height: 100%;
    width: 100%;
    /*--- color of background to be grey but almost transparent to make white text stand out ---*/
    background-color: rgba(0, 0, 0, 0.5);

        /*---pulls content forward to be visible on Z-index axis---*/
    z-index: 1;

}

.pg-carousel {
    height: 68vh;
    width: 91.7vw;
    text-align: center;
}







.my-jumbotron {
    /*--- color of text white ---*/
    color: #fafafa;
    /*--- makes background a dark grey color and almost completely transparent to make text stand out ---*/
    background-color: rgba(0, 0, 0, 0.5);
}


img.my-rounded {
    height: 200px;
    width: 250px;
    /*--- removes margins automatically set by bootstrap ---*/
    margin-bottom: 20px;
}



img.pg {
    height: 250px;
    width: 330px;
    /*--- removes margins automatically set by bootstrap ---*/
    margin-top: 130px;
    margin-bottom: 130px;
}





/*---------------BUTTONS-------------*/

.buy-btn {
    text-align: left;
    padding: 0;
}

.my-nav-btn {
    /*--- no background color ---*/
    background-color: transparent;
    /*--- color of text green ---*/
    color: #20b978;
}

.nav-btn:hover {
    /*--- color of text darker green ---*/
    color: #119264;
    /*--- no background color ---*/
    background-color: transparent;
    /*--- when hovered with mouse the icon will change color slightly so the user knows you can click on it. when the transition to this hovered color will last .40secounds the color will gradually ease in and then ease out ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}



.my-btn {
    /*--- color of text: white ---*/
    color: #fafafa;
    /*--- green background color ---*/
    background-color: #20b978;
}

.my-btn:hover {
    /*--- color of background: darker green ---*/
    background-color: #119264;
    /*--- when mouse is hovered the button will transition for .40seconds to a darker green color. the color will gradually ease in and then ease out. ---*/
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

/*---------------BLOCK DIVIDERS-------------*/

.red-divider {
    width: 200px;
    height: 3px;
    /*--- no outline on divider ---*/
    border: 0;
    /*--- color of block divider, red that is slightly transparent ---*/
    background-color: rgb(159, 8, 25);
}

.my-block-divider {
    width: 200px;
    height: 3px;
    /*--- no outline on divider ---*/
    border: 0;
    /*--- color of block divider, grey and slightly transparent ---*/
    background-color: rgba(0, 0, 0, 0.46);
}



/*---------------GENERAL: fonts, transitions, spacing-------------*/

.social-media {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-top: 30px;
}

.social-media i {
    text-align: center;
    width: 50px;
    height: 50px;
   font-size: 30px;
   /*--- color of text green ---*/
    color: #20b978;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    /*--- adjustments for each web browser ---*/
}

.social-media i:hover {
    /*--- color of text darker green ---*/
    color: #119264;
}


.mtg-heading {
    /*--- removes margin automatically set by bootstrap ---*/
    margin-left: 20px;
}


.title {
    font-size: 25px;
}

.text {
    font-size: 16px;
}

.heading {
    font-size: 30px;
}


.row, 
.container {
    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
    /*--- removes padding automatically set by bootstrap ---*/
    padding: 0;
}

.ad {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-top: 40px;
}




.guys {
    /*--- removes margins automatically set by bootstrap ---*/
    margin-bottom: 0;
    margin-top: 0;
}

.my-media-body {
    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
    /*--- set margin on bottom ---*/
    margin-bottom: 100px;
}




.my-audio {
    height: 54px;
    width: 300px;
}

.guys-row {
    /*--- removes margins automatically set by bootstrap ---*/
    margin-left: 20px;
}



.my-callout {
    /*---pulls content forward to be visible on Z-index axis---*/
    z-index: 2;
}


.my-modal {
    /*--- color of text ---*/
    color: black;
}


.jumbo-container {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-top: 40px;
}


.audio-container {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-top: 20px;
    padding-bottom: 30px;

    
}

.video-container {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-top: 20px;
    padding-bottom: 30px;
    /*--- removes margins automatically set by bootstrap ---*/
    margin-left: 5px;
}


/*---------------TIMELINE-------------*/



.my-timeline-item {
    /*--- removes padding automatically set by bootstrap ---*/
    padding: 4em 2em 0em 2em;
    /*---positioned relative to normal position---*/
    position: relative;
    /*--- creates solid line for timeline ---*/
    border-left: 1px solid;
}

.my-timeline-item p {
    /*--- removes padding automatically set by bootstrap ---*/
    padding: 0;
    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
}

/*--- 'before' sets dates ---*/
.my-timeline-item:before {
    /*--- timeline displays dates to and the attribute sets them to be in order ---*/
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    /*--- removes padding automatically set by bootstrap ---*/
    padding: 0;
    /*--- removes margins automatically set by bootstrap ---*/
    margin: 0;
}

/*--- 'after sets dots  ---*/
.my-timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    /*---positioned relative to the nearest positioned ancestor---*/
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: black;
}

.my-timeline {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 66px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}





/*---------------media queries-------------*/



@media (min-width: 576px) {
    div.guys {
        /*--- removes margins automatically set by bootstrap ---*/
        margin: 0;
    }
    
    div.guys-row {
        /*--- removes margins automatically set by bootstrap ---*/
    margin-left: 0;
}
    
    
    
    div.callout-container {
        /*--- sets a different background image for differing screen sizes for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
        background: url("assets/images/vert.jpg") no-repeat top center fixed;
        /*--- adjusts background for different browsers ---*/
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;

            /*--- makes the background fit to the container ---*/
        overflow: hidden;

        align-items: center;
        justify-content: center;
        
        /*--- height the container takes up in the viewport ---*/
        height: 94vh;
    
      }
    
    img.pg {
    height: 300px;
    width: 400px;
    }
    
    div.pg-carousel {
    height: 70vh;
    width: 94.7vw;
}
     
     div.bio-heading {
        font-size: 2rem;
    }
    
    div.bio-text {
        font-size: 1rem;
    }
    
    audio.my-audio {
        height: 40px;
        width: 250px;
    }
    
    div.my-timeline {
        /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    text-align: center;
}


@media (min-width: 768px) {
    
    
    div.pg-carousel {
    height: 60vh;
    width: 96vw;
    }
    
    div.callout-container {
        /*--- height the container takes up in the viewport ---*/
        height: 70vh;
   
           /*--- sets a different background image for differing screen sizes for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
        background: url("assets/images/monks.jpg") no-repeat top center fixed;
        /*--- adjusts background for different browsers ---*/
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;

            /*--- color of text white ---*/
        color: #fafafa;

        display: flex;
        align-items: center;
        justify-content: center;

            /*---positioned according to value of the property from its parent element---*/
        position: inherit;

            /*--- removes margins automatically set by bootstrap ---*/
        margin: 0;
        padding: 0;
    
  }
  
    img.my-rounded-circle {
    height: 200px;
    width: 250px;
}
}

  
   audio.my-audio {
    height: 54px;
    width: 300px;
}
}
    div.my-timeline {
        /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 20px;
    
}


@media (min-width: 992px) {
    
    div.my-timeline {
    text-align: center;
    }
    
    div.pg-carousel {
    height: 70vh;
    width: 97vw;
}

    div.my-timeline {
        /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 200px;
    }

    div.bio-heading {
        font-size: 35px;
    }

     div.bio-text{
    font-size: 20px;
}

    div.callout-container {
        /*--- height the container takes up in the viewport ---*/
        height: 96vh;
           
           /*--- sets a different background image for differing screen sizes for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
        background: url("assets/images/monks.jpg") no-repeat top center fixed;
        /*--- adjusts background for different browsers ---*/
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;

            /*--- color of text white ---*/
        color: #fafafa;

        display: flex;
        align-items: center;
        justify-content: center;

            /*---positioned according to value of the property from its parent element---*/
        position: inherit;

            /*--- removes margins automatically set by bootstrap ---*/
        margin: 0;
        /*--- removes padding automatically set by bootstrap ---*/
        padding: 0;
    
  }
  
  
  div.guys {
      /*--- removes margins automatically set by bootstrap ---*/
        margin-left: 35px;
    }
    

}    

@media (min-width: 1200px) {
    
    
    div.callout-container {
        /*--- height the container takes up in the viewport ---*/
        height: 100vh;
        
    
           /*--- sets a different background image for differing screen sizes for callout container. it is set to not repeat, so the image doesnt stretch, and the image will be centered horizontally and pushed to the top of the container. the background will also not scroll, but remained positioned so things will scroll past it---*/
        background: url("assets/images/monkees.jpg") no-repeat top center fixed;
        /*--- adjusts background for different browsers ---*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

            /*--- color of text white ---*/
        color: #fafafa;

        display: flex;
        align-items: center;
        justify-content: center;

            /*---positioned according to value of the property from its parent element---*/
        position: inherit;

            /*--- removes margins automatically set by bootstrap ---*/
        margin: 0;
        /*--- removes padding automatically set by bootstrap ---*/
        padding: 0;
}

    div.pg-carousel {
    width: 98vw;
}

div.my-timeline {
    /*--- removes padding automatically set by bootstrap ---*/
    padding-left: 260px;
    text-align: center;
}

div.guys {
    /*--- removes margins automatically set by bootstrap ---*/
    margin-left: 140px;
    margin-right: 140px;
}
}








